USE [master]
GO
/****** Object:  Database [TKB]    Script Date: 4/14/2025 10:00:04 PM ******/
CREATE DATABASE [TKB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TKB', FILENAME = N'D:\sql2022\TKB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TKB_log', FILENAME = N'D:\sql2022\TKB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TKB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TKB]
GO
/****** Object:  Table [dbo].[gv]    Script Date: 4/14/2025 10:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gv](
	[Magv] [nvarchar](50) NOT NULL,
	[tengv] [nvarchar](50) NULL,
 CONSTRAINT [PK_gv] PRIMARY KEY CLUSTERED 
(
	[Magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop]    Script Date: 4/14/2025 10:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop](
	[malop] [nvarchar](50) NOT NULL,
	[tenlop] [nvarchar](10) NULL,
 CONSTRAINT [PK_lop] PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 4/14/2025 10:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monhoc](
	[mamon] [nvarchar](50) NOT NULL,
	[tenmon] [nvarchar](50) NULL,
 CONSTRAINT [PK_monhoc] PRIMARY KEY CLUSTERED 
(
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tkb]    Script Date: 4/14/2025 10:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkb](
	[stt] [int] NOT NULL,
	[malop] [nvarchar](50) NULL,
	[magv] [nvarchar](50) NULL,
	[mamon] [nvarchar](50) NULL,
	[giovao] [time](0) NULL,
	[giora] [time](0) NULL,
	[ngay] [datetime] NULL,
	[thu] [int] NULL,
 CONSTRAINT [PK_tkb] PRIMARY KEY CLUSTERED 
(
	[stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tkb]  WITH CHECK ADD  CONSTRAINT [FK_tkb_gv] FOREIGN KEY([magv])
REFERENCES [dbo].[gv] ([Magv])
GO
ALTER TABLE [dbo].[tkb] CHECK CONSTRAINT [FK_tkb_gv]
GO
ALTER TABLE [dbo].[tkb]  WITH CHECK ADD  CONSTRAINT [FK_tkb_lop] FOREIGN KEY([malop])
REFERENCES [dbo].[lop] ([malop])
GO
ALTER TABLE [dbo].[tkb] CHECK CONSTRAINT [FK_tkb_lop]
GO
ALTER TABLE [dbo].[tkb]  WITH CHECK ADD  CONSTRAINT [FK_tkb_monhoc] FOREIGN KEY([mamon])
REFERENCES [dbo].[monhoc] ([mamon])
GO
ALTER TABLE [dbo].[tkb] CHECK CONSTRAINT [FK_tkb_monhoc]
GO
USE [master]
GO
